[Desktop Entry]
Type=Application
Version=1.0
Name=Instalar RisingOS
GenericName=Instalador de RisingOS
Comment=Instalá RisingOS en tu disco
Exec=/usr/local/bin/risingos-install
Icon=/usr/share/rising-welcome/assets/icons/logo-256.png
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=true
